# Derleme Ciktilari
bin/
obj/

# Log Dosyalari
*.log
logs/

# Veritabani Gecici Dosyalari (SQLite vb.)
*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal

# IDE ve Editor Dosyalari
.vscode/
.idea/
*.user
*.suo